nav .nav-head {
  display: flex;
  position: left;
  align-items: right;
  width: auto;
  font-family: "Source Serif 4-SemiBold", Helvetica;
  font-weight: 400;
  color: #212121;
  font-size: 42px;
}

nav {
  display: flex;
  align-items: left;
  gap:  200px;
  padding: 20px 0px;
  position: right;
  width: 100%;
  height: auto;
}

nav .navbuttons {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  width: auto;
  font-family: "Public Sans-Regular", Helvetica;
  font-weight: 00;
  color: #212121;
  font-size: 28px;
}

.label {
  width: 1344px;
  height: 240px;
  margin-top: 48px;
}

.title {
  position: relative;
  margin-top: 96px;
  width: 1344px;
  font-family: "Public Sans-Bold", Helvetica;
  font-weight: 700;
  color: #212121;
  font-size: 120px;
  text-align: center;
  margin-bottom: 52px;
}






